<div id="container-instructions">

    <h1>Instructions</h1>

    <p align="center"><strong>Reading</strong> means that the gaze is directed to some text.</p>
    <div align="center" class="column"><img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/read/goopp129c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/read/goopp31c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/read/pp398c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/read/pp5c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/read/pp64c_256x256.jpg" width="200" /></div>

    <p align="center"><strong>Not reading</strong></p>
    <div align="center" class="column"><img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_read/goopp11c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_read/goopp109c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_read/pp147c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_read/pp18c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_read/pp659c_256x256.jpg" width="200" /></div>

    <div class="instructions well">
        <p>
            Please focus, it's important to reach the best possible accuracy. You're going to start the real experiment in the next page. Get Ready!
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
