<div id="container-instructions">

    <h1>Instructions</h1>

    <p align="center"><strong>Sitting</strong> means that the body weight lays on the buttocks.</p>
    <div align="center" class="column"><img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/sit/gglpp118c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/sit/gglpp339c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/sit/pp116c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/sit/pp12c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/sit/pp386c_256x256.jpg" width="200" /></div>

    <p align="center"><strong>Not sitting</strong></p>
    <div align="center" class="column"><img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_sit/okpp17c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_sit/okpp49c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_sit/pp597c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_sit/pp936c_256x256.jpg" width="200" /> <img height="200" src="https://raw.githubusercontent.com/vincj/mturk/master/example/images/not_sit/pp99c_256x256.jpg" width="200" /></div>

    <div class="instructions well">
        <p>
            Please focus, it's important to reach the best possible accuracy.
            You're going to start the real experiment in the next page. Get Ready!
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
