<div id="container-exp">
	<div id="trial">
		<h1>Respond Quickly!</h1>
		
		<div class="span4"></div>

		<div class="row" id="workContent">
		<div id="stim" class="col-xs-12 col-sm-8 image"></div>

		<div class="col-xs-12 col-sm-4 fields" id="workQuestion">
			<div class="btn-group-vertical" data-toggle="buttons" id="CategoryInputs">
				<input id="sit" name="categories" required="" type="radio" value="yes" />Drinking <br>
				<input id="not-sit" name="categories" required="" type="radio" value="no" />Not Drinking <br>
				<div class="span4"></div>
			
				<button type="button" id="submittrial" value="submittrial" class="btn btn-primary btn-lg pull-right">
					Submit <span class="glyphicon glyphicon-arrow-right"></span>
				</button> 
			</div>
		</div>

		<!-- Add more inputs by copy pasting the "label" container and incrementing/changing the "id" attribute on the "input" field to always be unique. Make sure the "value" attribute has the correct value that you want recorded as a response. -->

        </div>

    	<div id="demo"></div>
	</div>
</div>




